body {
    background-color: #FFF2F2;
    font-family: Arial, sans-serif;
}
h1 {
    color: #2D336B;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #7886C7;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: #A9B5DF;
}